@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "quick";
  src: url("./../public/QuickSand/Quicksand-VariableFont_wght.ttf");
}

:root {
  --theBlue: #203261;
  --blueSecdeg: #2a407b;
  --blueSky: #3d60b9;
  --Green: #51b58b;
  --Quick: "quick";
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "quick" !important;
}

body {
  background: var(--theBlue);
}
