.body {
  width: 100%;
  height: 100vh;
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 5px;
}
.logo {
  margin-left: 20px;
}

.nav a {
  color: #fff;
  margin: 10px;
  font-size: 16px;
}
.nav {
  margin-left: 20px;
}
.scl {
  position: absolute;
  right: 20px;
  margin-top: 5px;
}
.scl a {
  margin: 5px;
}

.container {
  width: 100%;
  height: auto;
  position: absolute;
  padding-top: 20px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#title {
  color: #fff;
  font-size: 23px;
  font-weight: bold;
}

.cont {
  width: 90%;
  height: auto;
  background-color: var(--blueSecdeg);
  margin: auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 10px 0px;
}

.convertBlock {
  background-color: var(--blueSky);
  width: 40%;
  height: 250px;
  margin: 20px;
  border-radius: 20px;
}

.btn {
  width: 200px;
  height: 55px;
  background-color: var(--Green);
  margin-top: 20px;
  border: none;
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
  font-family: var(--Quick);
  cursor: pointer;
  transition-duration: 0.5s;
}

.btn:hover {
  background: #7eeabc;
}
.flag {
  overflow: hidden;
  border-radius: 50%;
  width: 100%;
  height: auto;
  border-radius: 3px;
  overflow: hidden;
  align-items: center;
  display: flex;
  padding: 20px 0px 0px 20px;
}
.flag img {
  border: 1px solid #fff;
  border-radius: 5px;
}
.input {
  display: block;
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  padding-left: 10px;
  width: 300px;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.514);
}

#toCenter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input input {
  padding: 10px;
  text-align: center;
  margin-left: 10px !important;
  width: 74%;
  border: none;
  color: var(--blueSky);
  font-weight: bold;
}

#cu_title {
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
}
